

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #777777;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

   header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white; 
    text-align: center;
    font-size: 30px
}


h1 {
	font-size: 50px;
}